.squares{
	height:200px; 
	width:200px;	
}
.rect{
	height:200px; 
	width:400px;	
}

h2{
	margin-top: 5px;
	margin-bottom: 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
